html {
  scrollbar-gutter: stable;
}

body {
  font-family: Verdana, Tahoma, sans-serif;
  margin: 0;
  padding: 0 1rem;
  background: #faf9f6 url('graphpaperwhite.png') repeat;
  color: #222;
  max-width: 720px;
  margin: 0 auto;
  padding-bottom: 4rem;
  line-height: 1.6;
  overflow-wrap: break-word;
}

h1 {
  font-size: 2.2rem;
  /* margin-bottom: 0.5rem; */
}

header a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.2rem;
}

.post-date {
  font-size: 0.95rem;
  color: #888;
}

a {
  text-decoration: none;
  color: #2a7ae2;
  font-size: 1.2rem;
}

a:hover {
  color: #174ea6;
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.8rem;
  }

  a {
    font-size: 1.1rem;
  }
}